@font-face {
  font-family: "bokra";
  src: url("./assets/bokra-bold.otf") format("truetype");
}

@font-face {
  font-family: "Sixsound";
  src: url("./assets/sixsound.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sixsound", sans-serif;
}

body {
  background: #ffffff;
  height: 100vh;
  overflow: hidden;
}

.topbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1600px;
  height: 100px;
  background: linear-gradient(135deg, #204033, #306850);
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 200;
}

.logo-r {
  color: #b37b3a;
  font-family: "bokra", sans-serif;
  font-size: 50px;
}

.logo-create {
  color: #ffffff;
  font-family: "bokra", sans-serif;
  font-size: 50px;
}

.sidebar {
  position: fixed;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 65vh;
  padding: 20px 0;
  border-radius: 25px;

  background: linear-gradient(145deg, rgba(0,0,0,0.03), rgba(255,255,255,0.02));
  backdrop-filter: blur(28px) saturate(180%);
  -webkit-backdrop-filter: blur(28px) saturate(180%);
  box-shadow: 0 8px 40px rgba(0,0,0,0.35), 0 0 15px rgba(179,123,58,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-item {
  color: #b37b3a;
  font-size: 26px;
  margin: 25px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.3);
  color: #204033;
}

.nav-item.active {
  color: #204033;
}

.display-container {
  margin-left: 110px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 32px;
}